
   body {
    background: #edf5ff; /* Цвет фона */
    color: #3d3d3d; /* Цвет текста */
   }


beer{
font-family: "BeerRegular";
 font-size: 20pt;
}

p{
 font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
 font-size: 15pt; /* Размер основного шрифта в пунктах  */
/*  background-color: #FFFF00; /* Цвет фона веб-страницы */
/*  color: #228B22; /* Цвет основного текста */ 
}

@font-face {
		font-family: "BeerRegular";
		src: url("../fonts/BeerRegular/BeerRegular.eot");
		src: url("../fonts/BeerRegular/BeerRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/BeerRegular/BeerRegular.woff") format("woff"),
		url("../fonts/BeerRegular/BeerRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
